body {
  margin-top: 0px;
  padding-top: 0px;
  background: #181010;
  color: #ba9;
  line-height: 1.2em;
  font-family: sans-serif;
  font-size: calc(0.6em + 0.6vw + 0.6vh);
  letter-spacing: 0.08em;
}

a {
  color: #6688cc;
  font-variant: small-caps;
}

a:hover {
  color: #88aaff;
}

div.header {
  border-bottom: thin solid #ba9;
}

div.footer {
  border-top: thin solid #ba9;
}

div.menu {
  margin-top: 0px;
  padding-top: 0px;
  padding: 0.5em;
}

div.menu > a {
  padding-left: 0.4em;
  padding-right: 0.4em;
  text-decoration: none;
}

div.container {
  padding: 1em;
}

div.main {
  width: 60%;
}

div.column {
  width: 30%;
  float: right;
}

div.column img {
  width: 100%;
}

div.column ul {
  list-style-type: none;
  padding-left: 0.4em;
}

div.column ul li {
  margin-bottom: 1em;
}

div.column ul a {
  text-decoration: none;
}

div.column ul a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #ba9;
  padding: 0px;
  height: 0px;
}

h1.title {
  font-variant: small-caps;
  letter-spacing: 0.2em;
}

h3 {
  text-decoration: underline;
}

h6 {
  margin-bottom: 0em;
}

p.subtitle {
  color: #666;
  font-family: monospace;
}

div.content {
  color: #9b9;
}

hr {
  width: thick;
}

code {
  color: #4b4;
  font-family: monospace;
}

pre, blockquote {
  margin: 0em;
  border: thin solid #6a6;
  border-left-width: thick;
  overflow: scroll;
  padding: 0em;
  padding-left: 0.6em;
  padding-right: 0.4em;
  background-color: #040404;
  color: #8c8;
  font-family: monospace;
}

div.caption blockquote {
  border: thin solid grey;
  border-left-width: thick;
  color: grey;
}

div.legal {
  clear: both;
  margin: 2em;
  font-size: 0.6em;
}

a.direct {
  padding: none;
  text-decoration: none;
  color: #8ae;
  font-size: 0.6em;
}

a.direct:hover {
  text-decoration: underline;
}
