{% extends "base.html" %}

{% block content %}
<h1 class="title">Chad Perrin</h1>

<p>I have used the name <strong>apotheon</strong> online since the 1990s.  It reflects my ethos of continuous self-improvement.  Whether it reflects any success in such aims is subject to debate.</p>

<p>I founded the Copyfree Initiative.  There was technically a co-founder who dropped out almost immediately, before the CI even went anywhere.  Some might argue it still hasn't gone anywhere.  (I beg to differ.  It has moved across three or four different hosting infrastructures.)</p>

<p>If a <strong>cypherpunk</strong> is someone who favors liberating people through privacy technologies, I might be a cypherpunk.  If a <strong>cyberpunk</strong> is a cypherpunk in black with sunglasses, leather jacket, and a gun, I might be a cyberpunk.</p>

<p>If a <strong>cynic</strong> is an idealist who learns from experience, I'm definitely a cynic.</p>

<p>It might be said that I am an armchair economist, a copyfighter, a discordian taoist, an ethical theorist, a non-denominational napper, a philosopher, and a pragmatic rationalist.</p>

<p>More concretely, I am an advocate, a biker, a programmer, and a writer.</p>
{% endblock content %}
